%section.achievments_all
	%header.achievments_header
		%a Назад
		%h6 Достижения
	%section.achievments_list
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		%figure.achievment
			%img{ :src=>"./src/images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
			%figcapation
				%h4 Летняя ночь
				%p 21.09.15
		.justify_fix
-# Background
.background-color-overlay
-# Main conent
-# %main.bg_testing