.autn-section
	%h2 Восстановление пароля
	%h3
		Мы отправим вам новый пароль по смс, если у Вас еще нет аккаунта —
		%a{ :data => { :component => 'am' , :am_view => 'reg' 	} }зарегистрируйтесь
	%form{:action => "", :method => "get", :id => "form-forgotpassword" }
		%input{:type => "text", :name => "phone", :placeholder => "Номер телефона" , :rv => { :value => "model:phone"} }
		%button{:type=>"sumbit", :name=>"sumbit"} Отправить