.autn-section
	%header
		%h2 Войти
		%p На сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
		%a{ :data => { :component => 'am' , :am_view => 'reg' 	} }зарегистрируйтесь
	%form{:action => "", :method => "get", :id => "form-login" }
		%input{:type => "text", :name => "phone", :placeholder => "Номер телефона" , :rv => { :value => "model:phone"} }
		%input{:type => "text", :name => "password", :placeholder => "Пароль" , :rv => { :value => "model:password"} }
		%button{:type=>"sumbit", :name=>"sumbit"} Войти
	%a{ :data => { :component => 'am' , :am_view => 'forgotpassword' 	} } Вы забыли пароль?