!!! 5
!!! Stricts
!!! XML

%html
	%head
		%title Index fale
	%body
		%h1 Fucking suckers!

		%script(type="text/javascript" src="bower_components/requirejs/require.js")
		%script(type="text/javascript" src="src/js/app/config.js")
		%script(type="text/javascript" src="src/js/app/start.js")