<section id='profile_block1'>
  <div>
    <img alt='Profile photo' src='./src/images/for-photo.svg'>
  </div>
  <div class='center-block'>
    <div>
      <hgroup>
        <h1>ВИТАЛИЙ ПИХОНТ</h1>
        <a data-am-view='profedit' data-component='am'>
          <i class='fa fa-cog'></i>
        </a>
        <h5>Санкт-Петербург, Россия</h5>
      </hgroup>
    </div>
    <div class='level-statistic-body'>
      <h6>4525 очков для следующиего уровня</h6>
      <progress max='100' value='50'></progress>
      <span class='level-statistic-maxmin'>
        <span>700</span>
        <span>5225</span>
      </span>
    </div>
    <div>
      <button class='button-dark'>Забронировать место</button>
      <button class='button-dark'>Назначить встречу</button>
    </div>
    <div class='skills'>
      <p>
        <span>Достижения</span>
        <span class='color-orange'>3/25</span>
        <a>Посмотреть все</a>
      </p>
      <ul>
        <li>
          <img src='./src/images/skills_masks.svg'>
          <span>Маскировка</span>
          <span>21.09.15</span>
        </li>
        <li>
          <img src='./src/images/skills_masks.svg'>
          Чувство стиля
          21.09.15
        </li>
        <li>
          <img src='./src/images/skills_masks.svg'>
          Маскировка
          21.09.15
        </li>
        <li>
          <img src='./src/images/skills_masks.svg'>
          Абсолютное здоровье
          21.09.15
        </li>
        <li>
          <img src='./src/images/skills_masks.svg'>
          Звездная болезнь
          21.09.15
        </li>
        <li>
          <img src='./src/images/skills_masks.svg'>
          Приятный бонус
          21.09.15
        </li>
      </ul>
    </div>
    <div class='skills'>
      <p>
        <span>Навыйки</span>
        <span class='color-orange'>1 ОЧКО</span>
        <a>Посмотреть все</a>
      </p>
      <ul>
        <li>1 Навыйки</li>
        <li>2 Навыйки</li>
        <li>3 Навыйки</li>
        <li>4 Навыйки</li>
      </ul>
    </div>
  </div>
  <div></div>
</section>
