-# Background
#bco
	-# Right social content
	%section#lpm.left_menu
		%img{ :src=>"src/images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }

		%h4 Первая в мире территория для<br>курения со свободной оплатой и<br>индивидуальным подходом<br>к каждому гостю...
		%p
			24 июл в 14:44 от
			%a #unihuqhookahplaces

		%h5 Она задала нам неожиданный вопрос
		%p
			24 июл в 14:44 от
			%a #unihuqhookahplaces

		%h5 Она задала нам неожиданный вопрос
		%p
			24 июл в 14:44 от
			%a #unihuqhookahplaces

		%h5 Она задала нам неожиданный вопрос
		%p
			24 июл в 14:44 от
			%a #unihuqhookahplaces

		%h5 Она задала нам неожиданный вопрос
		%p
			24 июл в 14:44 от
			%a #unihuqhookahplaces
		%footer
			%p Copyright © 2015 Уникальные Кальянные
			%p
				Создано в
				%img{ :src=>"src/images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
	-# Left bar
	%section#rpm.right_menu
		%img.js-closing-menu{ :src=>"src/images/cross.svg" , :alt=>"Закрыть"}

		%h3
			%a.link-site-menu{ :href => "#"}Главная страница
		%p Основная информация

		%h3
			%a.link-site-menu{ :href => "#"}Ложи
		%p Уникальные заведения

		%h3
			%a.link-site-menu{ :href => "#philosophie"}Философия
		%p Наша ценность

		%h3
			%a.link-site-menu{ :href => "#community"}Сообщество
		%p Полезно быть своим

		%h3 Франшиза
		%p Открыть ложу

		%button Войти
		%a Регистрация