%section.login
	%h2 Войти
	%h3 Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта — зарегистрируйтесь.
	%form{:action => "", :method => "get"}
		%input{:type => "text", :name => "input", :placeholder => "Номер телефона"}
		%input{:type => "text", :name => "input", :placeholder => "Пароль"}
		%button{:type=>"sumbit", :name=>"sumbit"} Войти
	%a Вы забыли пароль?
-# Background
.background-color-overlay
-# Main conent
%main.bg_testing