<div class='autn-section registr-side'>
  <h2>Регистрация</h2>
  <h3>
    Регистрация нового пользователя. Если у вас	уже есть аккаунт -
    <a class='js-login-from-registrate' href='#'>войдите</a>
  </h3>
  <form action='' id='register_form' method='get'>
    <input name='phone' placeholder='Номер телефона' type='text'>
    <input name='name' placeholder='ФИО' type='text'>
    <input name='password' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Зарегестрироваться</button>
  </form>
</div>
<div class='autn-section login-side'>
  <h2>Войти</h2>
  <h3>
    Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта — <a class="js-registrate-from-login" href="#">зарегистрируйтесь</a>
  </h3>
  <form action='' id='login_form' method='get'>
    <input name='phone' placeholder='Номер телефона' type='text'>
    <input name='password' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Войти</button>
  </form>
  <a>Вы забыли пароль?</a>
</div>
