<section class='login backside'>
  <h2>Регистрация</h2>
  <h3>
    Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
  </h3>
  <form action='' method='get'>
    <input name='input' placeholder='Номер телефона' type='text'>
    <input name='input' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Войти</button>
  </form>
  <a>Вы забыли пароль?</a>
</section>
<section class='login frontside'>
  <h2>Войти</h2>
  <h3>
    Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
    <a class='js-link-registrate' href='#'>зарегистрируйтесь.</a>
  </h3>
  <form action='' method='get'>
    <input name='input' placeholder='Номер телефона' type='text'>
    <input name='input' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Войти</button>
  </form>
  <a>Вы забыли пароль?</a>
</section>
