<div class='autn-section registr-side'>
  <h2>Регистрация</h2>
  <h3>
    Регистрация нового пользователя. Если у вас	уже есть аккаунт -
    <a class='js-link-back-login' href='#'>войдите</a>
  </h3>
  <form action='' method='get'>
    <input name='input' placeholder='Номер телефона' type='text'>
    <input name='input' placeholder='ФИО' type='text'>
    <input name='input' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Зарегестрироваться</button>
  </form>
</div>
<div class='autn-section login-side'>
  <h2>Войти</h2>
  <h3>
    Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
    <a class='js-link-registrate' href='#'>зарегистрируйтесь</a>
  </h3>
  <form action='' method='get'>
    <input name='input' placeholder='Номер телефона' type='text'>
    <input name='input' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Войти</button>
  </form>
  <a>Вы забыли пароль?</a>
</div>
