%a.js-animate-modal-target {{ title }}
%a.js-animate-modal-target-back Show back
%a.js-animate-modal-target-front Show front

.animate-modal-side.js-animate-modal-back
.animate-modal-side.js-animate-modal-front