<section id='community_block1'>
  <img alt='Полезно быть своим' src='./src/images/community_h1.svg'>
</section>
<section id='community_block2'>
  <h2>
    Самая лучшая сеть
    <br>
    кальянных и только для вас
  </h2>
  <br>
  <h3>Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости.</h3>
  <br>
  <section class='game_feature'>
    <img alt='Нетворкинг' src='./src/images/game_feature_1.svg'>
    <h4>Общество равных</h4>
    <p>Уже много лет мы собираем вокруг себя близких по духу людей и это значит, что в стенах Уникальных Кальянных наши гости всегда смогут найти собеседника достойного уровня, завязать полезные знакомства и найти нужные контакты.</p>
  </section>
  <section class='game_feature'>
    <img alt='Система лояльности' src='./src/images/game_feature_2.svg'>
    <h4>Программа лояльности</h4>
    <p>Лояльность и доверие - для нас это не пустой звук, с древних времен эти понятия считались высшими ценностями в жизни. Записи о каждом вашем визите бережно хранятся в наших архивах и когда придёт срок, каждый будет вознаграждён.</p>
  </section>
  <section class='game_feature'>
    <img alt='Неповторимый опыт' src='./src/images/game_feature_3.svg'>
    <h4>Неповторимый опыт</h4>
    <p>Каждое заведение Уникальных Кальянных предлагает вам атмосферу клуба единомышленников. Заходите, общайтесь с другими гостями, участвуйте в еженедельных мероприятиях и вы поймете в чем заключается наша уникальность.</p>
  </section>
</section>
<section id='community_block3'>
  <h3>Со временем вы обретёте полезные навыки, дающие право на получение бесплатных услуг.</h3>
  <p>Навыки разнообразны и позволяют получить целый спектр приятных преимуществ, начиная с дополнительных напитков при первом заказе за день и заканчивая возможностью отдыхать в заведении в нерабочие часы</p>
  <br>
  <img alt='Полезные бонусы' src='./src/images/game_skillset.svg'>
  <video autobuffer='true' autoplay='true' controls='false' id='dust' loop='true' src='src/video/vid.mp4'></video>
  <div id='cb3grad'></div>
  <div id='cb3grad2'></div>
  <video autobuffer='true' autoplay='true' controls='false' id='cb3smoke' loop='true' src='src/video/vid2.mp4'></video>
</section>
<section id='community_block4'>
  <h2>Назначить встречу</h2>
  <br>
  <p>Наши заведения посещают люди с разными интересами, компетенциями и статусом. Если вы хотите познакомиться и пообщаться с кем-нибудь из них, вы можете пригласить их на встречу в Уникальных Кальянных.</p>
</section>
<section id='community_block5'>
  <canvas id='viewport'></canvas>
  <div class='round'>
    <img alt='Коммуникация' src='./src/images/messages.svg'>
  </div>
  <br>
  <h3>Общение — это важно</h3>
  <br>
  <p>Мы общаемся с окружающими нас людьми каждый день, но в жизни современного человека общение это нечто большее чем просто обмен информацией.</p>
  <br>
  <p>Именно от общения зависит наше положение в обществе, наши цели и настроение, поэтому круг общения играет важную роль</p>
  <br>
  <p>Войдите в сообщество Уникальных Кальянных и вы сможете общаться с лучшими людьми вашего города.</p>
  <br>
  <button>Прочитать историю</button>
</section>
<section id='community_block6'></section>
