.autn-section
	%h2 Регистрация
	%h3
		Регистрация нового пользователя. Если у вас	уже есть аккаунт -
		%a.js-animate-modal-rotate{ :href => '#' } войдите
	%form{:action => "", :method => "get", :id => "register_form" }
		%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
		%input{:type => "text", :name => "name", :placeholder => "ФИО"}
		%input{:type => "text", :name => "password", :placeholder => "Пароль"}
		%button{:type=>"sumbit", :name=>"sumbit"} Зарегестрироваться