<div id='bco'>
  <section class='left_menu' id='lpm'>
    <img alt='Unique Hookah Places' height='40px' src='src/images/logo.svg'>
    <h4>Первая в мире территория для<br>курения со свободной оплатой и<br>индивидуальным подходом<br>к каждому гостю...</h4>
    <p>
      24 июл в 14:44 от
      <a>#unihuqhookahplaces</a>
    </p>
    <h5>Она задала нам неожиданный вопрос</h5>
    <p>
      24 июл в 14:44 от
      <a>#unihuqhookahplaces</a>
    </p>
    <h5>Она задала нам неожиданный вопрос</h5>
    <p>
      24 июл в 14:44 от
      <a>#unihuqhookahplaces</a>
    </p>
    <h5>Она задала нам неожиданный вопрос</h5>
    <p>
      24 июл в 14:44 от
      <a>#unihuqhookahplaces</a>
    </p>
    <h5>Она задала нам неожиданный вопрос</h5>
    <p>
      24 июл в 14:44 от
      <a>#unihuqhookahplaces</a>
    </p>
    <footer>
      <p>Copyright © 2015 Уникальные Кальянные</p>
      <p>
        Создано в
        <img alt='CPD&amp;BBK' height='24px' src='src/images/cpdbbk.svg'>
      </p>
    </footer>
  </section>
  <section class='right_menu' id='rpm'>
    <img alt='Закрыть' class='js-closing-menu' src='src/images/cross.svg'>
    <h3>
      <a class='link-site-menu' href='#'>Главная страница</a>
    </h3>
    <p>Основная информация</p>
    <h3>
      <a class='link-site-menu' href='#'>Ложи</a>
    </h3>
    <p>Основная информация</p>
    <h3>
      <a class='link-site-menu' href='#philosophie'>Философия</a>
    </h3>
    <p>Основная информация</p>
    <h3>
      <a class='link-site-menu' href='#community'>Сообщество</a>
    </h3>
    <p>Основная информация</p>
    <h3>Франшиза</h3>
    <p>Основная информация</p>
    <button>Войти</button>
    <a>Регистрация</a>
  </section>
</div>
