%img{ :alt=>'Уникальные Кальянные' , :height=>'40px' , :src=>'src/images/logo.svg' }
	%nav
		%a.js-link-menu{ :href=>'#' }
			%img{ :height=> '40px' , :src=> 'src/images/menu.svg' }

		%span.js-animatedmodal-login.animatedmodal-parent{ :href => '#' , :data => { :animatedmodal_to => 'login' } }
		%span.js-animatedmodal-registration.animatedmodal-parent{ :href => '#' , :data => { :animatedmodal_to => 'registration' } }