%img{ :alt=>'Уникальные Кальянные' , :height=>'40px' , :src=>'src/images/logo.svg' }
	%nav
		%a.js-link-menu{ :href=>'#' }
			%img{ :height=> '40px' , :src=> 'src/images/menu.svg' }

		%a.js-login-from-header Войти
		%a.js-registrate-from-header Зарегистрироваться
		%span.js-forgot-from-header