%section#philosophie_block1
	%img{ :src=>"./src/images/philosophie_h1.svg" , :alt=>"Оригинал один — остальное копии"}
%section#philosophie_block2
	%blockquote
		%h4.js-scrollfade{:data => { :scrollfade_type => "show" , :scrollfade_effect => "drop" , :scrollfade_direction => "right" } }
			«Не просто безликая сеть заведений для отдыха и встреч  без июминки»
		%cite — Игорь Коновалов
	%p
		%span.js-scrollfade{:data => { :scrollfade_type => "show" , :scrollfade_effect => "drop" , :scrollfade_direction => "right" } }
			С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
	%button Прочитать историю
%section#philosophie_block3
	.cont-wrap
		%h3.js-scrollfade{:data => { :scrollfade_type => "show" , :scrollfade_effect => "drop" , :scrollfade_direction => "left" } }
			Наши принципы являются фундаментом, основнной для работы
		%br
		%h4 Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости и оригинальности.
		%br
		%p Уникальные Кальянные - это серьёзный бренд, а не просто безликая сеть заведений. В чём же отличие серьёзного бренда от среднестатистической франшизы? Отличие в том, что серьёзный бренд имеет свою внутреннюю философию и не будет жертвовать ею ради выгоды. Если вы разделяете наши ценности, то вы всегда сможете быть уверены в том, что Уникальные Кальянные от них не отступятся и вам будет у нас комфортно.
		%h3.js-scrollfade{:data => { :scrollfade_type => "show" , :scrollfade_effect => "drop" , :scrollfade_direction => "up" } }
			Кальянный мастер
		%p Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.
		%br
		%h5 Игорь Коновалов
		%h6 Основатель франшизы
%section#philosophie_block5
	%img{ :src=>"./src/images/sun.svg" , :alt=>"Звезда"}
	%h2 Ищущий да обретет
	%h6 Оригинал один - остальное копии
	%button
		%span.js-scrollfade{:data => { :scrollfade_type => "show" , :scrollfade_effect => "drop" , :scrollfade_direction => "up" } } Зарегистрироваться

-# 	%aside
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_1.svg" , :alt=>"Лояльность"}
-# 			%h5 Лояльность
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дела.
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_2.svg" , :alt=>"Открытость в общении"}
-# 			%h5 Открытость в общении
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дел
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_3.svg" , :alt=>"Профессионализм"}
-# 			%h5 Профессионализм
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дел
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_4.svg" , :alt=>"Желание развиваться"}
-# 			%h5 Желание развиваться
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дел
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_5.svg" , :alt=>"Честность"}
-# 			%h5 Честность
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дел
-# 		%article
-# 			%img{ :src=>"./src/images/philosophie_f_6.svg" , :alt=>"Желание узнавать новое"}
-# 			%h5 Желание узнавать новое
-# 			%p Мы ценим профессионализм во всех его проявлениях. Ко всем заведениям и сотрудникам сети предъявляется данное требование. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дел
-#%section#philosophie_block4
