@import 'compass/css3'

$font_0: "Bebas Neue"
$font_1: "Lora"
$font_2: "Open Sans Light"
$font_3: "Open Sans Regular"

$url_0: "/src/fonts/bebasneue_regular-webfont.eot"
$url_1: "/src/fonts/bebasneue_regular-webfont.eot?#iefix"
$url_2: "/src/fonts/bebasneue_regular-webfont.woff2"
$url_3: "/src/fonts/bebasneue_regular-webfont.woff"
$url_4: "/src/fonts/bebasneue_regular-webfont.ttf"
$url_5: "/src/fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular"
$url_6: "/src/fonts/lora-regular-webfont.eot"
$url_7: "/src/fonts/lora-regular-webfont.eot?#iefix"
$url_8: "/src/fonts/lora-regular-webfont.woff2"
$url_9: "/src/fonts/lora-regular-webfont.woff"
$url_10: "/src/fonts/lora-regular-webfont.ttf"
$url_11: "/src/fonts/lora-regular-webfont.svg#loraregular"
$url_12: "/src/fonts/opensans-light-webfont.eot"
$url_13: "/src/fonts/opensans-light-webfont.eot?#iefix"
$url_14: "/src/fonts/opensans-light-webfont.woff2"
$url_15: "/src/fonts/opensans-light-webfont.woff"
$url_16: "/src/fonts/opensans-light-webfont.ttf"
$url_17: "/src/fonts/opensans-light-webfont.svg#open_sanslight"
$url_18: "/src/fonts/opensans-regular-webfont.eot"
$url_19: "/src/fonts/opensans-regular-webfont.eot?#iefix"
$url_20: "/src/fonts/opensans-regular-webfont.woff2"
$url_21: "/src/fonts/opensans-regular-webfont.woff"
$url_22: "/src/fonts/opensans-regular-webfont.ttf"
$url_23: "/src/fonts/opensans-regular-webfont.svg#open_sansregular"

@include font-face( $font_0 , font-files( $url_0 , $url_1 , $url_2 , $url_3 , $url_4  			))
@include font-face( $font_1 , font-files( $url_6 , $url_7 , $url_8 , $url_9 , $url_10 , $url_11 ))
@include font-face( $font_2 , font-files( $url_12 , $url_13 , $url_14 , $url_15 , $url_16 , $url_17  ))
@include font-face( $font_3 , font-files( $url_18 , $url_19 , $url_20 , $url_21 , $url_22 , $url_23  ))