@import "compass/reset/utilities"
+global-reset()

@import "compass/css3"

/* Своя библиотека анимации */
@import "anim"

*
	box-sizing : border-box

body
	background	: #282C34
	max-width : 100%

#loader
	overflow : hidden

/* Крутим лучи логотипа */
+spin( '.loader-logo-back' , 4s )

/* Создаем пропадающий класс */
+fadeout( '.fadeout' , 1s )

/* Создаем появляющийся класс */
+fadein( '.fadein' , 1s )