@import compass/reset/utilities
+global-reset()

@import compass
@import compass/css3
@import compass/css3/transform
@import compass/css3/box-shadow
@import compass/css3/transition
@import compass/css3/opacity

/* Цвета дизайна */
@import colors
/* Своя библиотека анимации */
@import anim
/* Дефолтные отступы */
@import paddings

*
	box-sizing : border-box

body
	//background	: $color_dark
	max-width 	: 100%
	overflow-x 	: hidden
	background 	: $color_gray

#region-header
	position	: absolute
	width 		: 100%
	z-index		: 90

header
	height 		: 40px
	padding 	: 60px 40px 60px
	
	img 
		float: left
	nav
		line-height: 44px
		float : right
		a
			font-size 	: 18px
			margin-left: 16px
			font-family: Bebas Neue
			font-weight: 300

		img
			margin-left: 16px
			float: right
			width: 30px

	a
		color: #fff

a
	color 			: $color_orange
	text-decoration : none
	letter-spacing 	: 2px

a:hover
	cursor: pointer

main
	//padding 	: 60px 40px

.novisible
	visibility 	: hidden

#loader
	position	: absolute
	overflow 	: hidden
	width 		: 300px
	height		: 300px
	left		: 38%
	top			: 250px
	opacity 	: 0

	object
		position: inherit

.loader-logo-back
	width : 100%
	height: 100%

.loader-logo-front
	left 	: 25%
	top 	: 25%
	width 	: 50%

.line
	stroke-dasharray 	: 1000
	stroke-dashoffset	: 1000
	animation 			: dash 3s ease-in alternate 1 forwards
	transition 			: dash .3s ease-out

@keyframes dash
	from
		stroke-dashoffset: 1000
	to
		stroke-dashoffset: 0

////////////// Front loader

.path
	stroke-dasharray: 1000
	stroke-dashoffset: 1000
	animation: pa 3s ease-in normal 1 forwards
	//transition: dash .3s ease-out

// polygon.path
// 	animation: dash 3s ease-in normal 1 forwards
// 	transition: dash .3s ease-out

@keyframes pa
	from
		stroke-dashoffset: 0
	to
		stroke-dashoffset: 1000


.gradient
	//background-blend-mode: soft-light
	//+background(radial-gradient(center top, 100% 25%, #fff, $color_gray), $color_gray)

/* Крутим лучи логотипа */
+spin( '.loader-logo-back' , 4s )

/* Создаем пропадающий класс */
+fadeout( '.fadeout' , 2s )

/* Создаем появляющийся класс */
+fadein( '.fadein' , 2s )

/* Появления лоадера */
+fadein( '.fadein-loader' , 1s )

/* FLOAT */
.content-left
	text-align 	: left
.block-left
	float 		: left
.block-right
	float 		: right

.orange-text
	color 	: $color_orange

.gray-text
	color 	: $color_gray

.gray-text-light
	color 	: $color_gray_light
/* SIZE */
.h100
	height: 100%

.w95p
	width: 95%
.w5p
	width: 5%

/* PADDING */
.padding-left20px
	padding-left 	: 20px

.padding-top80px
	padding-top 	: 80px

/* MARGION */
.margin-left20px
	margin-left 	: 20px

/* TEXT */
.text-upper
	text-transform 	: uppercase
.text-strong-title
	font-size 		: 18pt
	font-family		: 'Lora'


/* BUTTONS */
.button-simple
	width 		: auto
	text-align 	: center

.button-simple:after , .button-dark:after
	background-image: none
	width 			: 0

.button-flat
	border : none
	color  : #fff

.opacity05
	opacity : 0.5


/* FOR PAGES */
.dark-with-light
	background		: #171819 url(/src/images/bg_light.png)	
	background-size	: cover

.about-desc
	background-color: $color_gray
	padding 		: 65px

.page-index-content
	+sides-padding()
	padding-bottom 	: 160px
	padding-top 	: 50px
	
	img	
		width : 100%

	h3
		margin-bottom: 60px

// Menu
#region-menu
	visibility 	: hidden
	position 	: fixed
	top 		: 0	
	overflow: hidden
	top: 0
	left: 0
	height: 100%
	width: 100%

.scale
	+scale(0.95,0.91)	

#region-menu:before
	content: ''
	position: absolute
	display: block
	top: 0
	left: 0
	height: 100%
	width: 100%
	opacity: 0.9
	background-color: $color_dark
	//background-blend-mode: soft-light
	//+background(radial-gradient(center top, 100% 25%, #fff, $color_gray), $color_gray)

section.left_menu
	display: inline-block
	position: relative
	width: 67%
	padding: 48px
	height: 100%
	z-index: 200
	left: -40%

	img
		margin-bottom: 64px
	h4
		margin-bottom: 8px
	p:first-of-type
		margin-bottom: 48px
	h5
		margin-bottom: 4px
	p 
		margin-bottom: 24px
	a
		color: #ECB72E

	footer
		margin-top: 64px
		line-height: 24px
		text-align: left
		p
			float: right
			margin-bottom: 40px
		p:first-of-type
			float: left
			margin-bottom: 40px
		img
			margin-bottom: -8px
			margin-left: 4px


section.right_menu
	position: relative
	float: right
	width: 33%
	height: 100%
	padding: 48px
	background: rgba(40,44,52,.9)
	box-shadow: 0 0 256px 64px rgba(0,0,0,.25)
	z-index: 200
	right: -40%

	
	img
		height 			: 16px
		margin-bottom	: 64px

	h3
		margin-bottom: 8px
	p 
		margin-bottom: 48px
	button
		margin-top: 16px
		display: inline-block
		width: 160px
		margin-right: 16px
	a
		display: inline-block

.js-closing-menu:hover
	cursor: pointer

// Login
.autn-section
	position	: absolute
	top			: 200
	right 		: -120%	
	width 		: 88%
	padding 	: 80px
	background 	: linear-gradient(left bottom, #17191F, #272B33)
	z-index 	: 100
	+backface-visibility( hidden )

.autn-section h2
	color: $color_orange
	margin-bottom: 16px

.autn-section h3
	width: 50%
	margin-bottom: 32px

.autn-section input 
	margin-bottom: 40px
	margin-right: 16px

.autn-section:after
	content 	: ''
	position 	: absolute
	top			: calc(50% - 160px)
	left		: -160px
	width		: 320px
	height 		: 320px
	background-image: url(../images/key.svg)

.autn-section:before
	content: ''
	position: absolute
	top: 16
	left: 16
	width: calc(100% - 16px)
	height: calc(100% - 32px)
	box-shadow: inset rgba(255, 255, 255, .1) 0 0 0 1px
	z-index: -1

// Community
#viewport-left , #viewport-right
	position: absolute
	width 	: 50%
	top 	: 0


#viewport-left
	float : left
	left	: 0
	
	svg
		float: left

#viewport-right
	float : right
	right : 0

	svg
		float : right

// .node
// 	stroke: #F1AE2F
// 	stroke-width: 3px

// .link
// 	stroke: #F1AE2F
// 	stroke-width: 3px
	//stroke-opacity: .6

rect
	fill: #fff

.node
	fill: #000

.cursor
	fill: none
	stroke: brown
	pointer-events: none

.link
	stroke: #999