/* line 12, ../../source/sass/lounges.sass */
* {
  box-sizing: border-box;
}

/* line 15, ../../source/sass/lounges.sass */
body {
  background: #13151A;
  max-width: 100%;
  color: white;
  font-family: "Open Sans Regular", sans-serif;
  font-weight: 300;
}

/* line 22, ../../source/sass/lounges.sass */
main {
  padding: 48px;
}

/* line 25, ../../source/sass/lounges.sass */
nav {
  float: right;
}

/* line 28, ../../source/sass/lounges.sass */
h1 {
  font-size: 60px;
  line-height: 64px;
}

/* line 32, ../../source/sass/lounges.sass */
h2 {
  font-size: 48px;
}

/* line 35, ../../source/sass/lounges.sass */
h3 {
  font-family: Bebas Neue;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 24px;
}

/* line 42, ../../source/sass/lounges.sass */
h4 {
  font-size: 24px;
  line-height: 32px;
  font-family: Lora Regular;
  font-weight: 300;
}

/* line 48, ../../source/sass/lounges.sass */
h5 {
  font-size: 18px;
  font-family: Lora Regular;
  font-weight: 300;
}

/* line 53, ../../source/sass/lounges.sass */
h6 {
  font-size: 14px;
}

/* line 56, ../../source/sass/lounges.sass */
small {
  font-size: 12px;
}

/* line 59, ../../source/sass/lounges.sass */
p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

/* line 63, ../../source/sass/lounges.sass */
input {
  position: relative;
  height: 48px;
  width: 256px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
  border: 0;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

/* line 75, ../../source/sass/lounges.sass */
button {
  position: relative;
  height: 48px;
  width: 256px;
  background: #EBB22F;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

/* line 85, ../../source/sass/lounges.sass */
button:after {
  content: "";
  width: 24px;
  height: 24px;
  float: right;
  background-image: url(../images/goto.svg);
}

/* line 98, ../../source/sass/lounges.sass */
main h1 {
  width: 75%;
  margin: 96px 0 32px 0;
}

/* line 102, ../../source/sass/lounges.sass */
main h3 {
  width: 30%;
  margin-bottom: 32px;
}

/* line 106, ../../source/sass/lounges.sass */
main button {
  margin-bottom: 64px;
}

/* line 109, ../../source/sass/lounges.sass */
figure:first-child {
  float: left;
  margin: 0;
}

/* line 113, ../../source/sass/lounges.sass */
figure {
  display: inline-block;
  float: right;
  margin-left: 16px;
  height: 16px;
}

/* line 119, ../../source/sass/lounges.sass */
figcapation {
  font-size: 18px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 123, ../../source/sass/lounges.sass */
figure img {
  margin-right: 8px;
}

/* line 126, ../../source/sass/lounges.sass */
section.instruments {
  width: 100%;
  height: 16px;
  margin: 32px 0 16px 0;
}

/* line 130, ../../source/sass/lounges.sass */
hr {
  margin-bottom: 32px;
  width: 100%;
  height: 1px;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 137, ../../source/sass/lounges.sass */
section.lounges {
  text-align: justify;
}

/* line 142, ../../source/sass/lounges.sass */
article.lounge {
  display: inline-block;
  position: relative;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 150, ../../source/sass/lounges.sass */
.frontside {
  position: relative;
  color: black;
  text-align: center;
  background: url(../images/venzel-corner.svg) left 16px top 16px no-repeat, url(../images/venzel-corner.svg) right 16px top 16px no-repeat, url(../images/venzel-corner.svg) left 16px bottom 16px no-repeat, url(../images/venzel-corner.svg) right 16px bottom 16px no-repeat, linear-gradient(#ffffff, #e0e8ee);
  padding: 40px;
  z-index: 50;
}

/* line 158, ../../source/sass/lounges.sass */
.frontside:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: inset rgba(122, 195, 108, 0.5) 0 0 0 2px;
  border-radius: 4px;
}

/* line 169, ../../source/sass/lounges.sass */
.frontside:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  box-shadow: inset rgba(122, 195, 108, 0.25) 0 0 0 1px;
  border-radius: 2px;
}

/* line 180, ../../source/sass/lounges.sass */
.frontside img {
  margin-bottom: 48px;
}

/* line 183, ../../source/sass/lounges.sass */
.frontside h4 {
  margin-bottom: 8px;
}

/* line 186, ../../source/sass/lounges.sass */
.backside {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 20;
}

/* line 197, ../../source/sass/lounges.sass */
section.login {
  position: absolute;
  top: 20%;
  right: 0;
  height: 60%;
  width: 88%;
  padding: 80px;
  background: linear-gradient(to right top, #17191f, #272b33);
  z-index: 100;
}
/* line 207, ../../source/sass/lounges.sass */
section.login h2 {
  color: #EBB22F;
  margin-bottom: 16px;
}
/* line 211, ../../source/sass/lounges.sass */
section.login h3 {
  width: 50%;
  margin-bottom: 32px;
}
/* line 215, ../../source/sass/lounges.sass */
section.login input {
  margin-bottom: 40px;
  margin-right: 16px;
}

/* line 219, ../../source/sass/lounges.sass */
section.login:after {
  content: "";
  position: absolute;
  top: calc(50% - 160px);
  left: -160px;
  width: 320px;
  height: 320px;
  background-image: url(../images/key.svg);
}

/* line 228, ../../source/sass/lounges.sass */
section.login:before {
  content: "";
  position: absolute;
  top: 16;
  left: 16;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
}

/* line 237, ../../source/sass/lounges.sass */
.background-color-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(75% 100% at center top, #ffffff, #000000), #282C34;
  z-index: 50;
  opacity: 0.75;
  background-blend-mode: soft-light;
}

/* line 250, ../../source/sass/lounges.sass */
.background-color-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #13151A;
  z-index: 50;
  opacity: 0.9;
}

/* line 261, ../../source/sass/lounges.sass */
.background-color-overlay:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-blend-mode: soft-light;
  background: radial-gradient(75% 100% at center top, #ffffff, #000000), #282C34;
  opacity: 0.5;
}

/* line 274, ../../source/sass/lounges.sass */
body {
  perspective: 1000px;
}

/* line 277, ../../source/sass/lounges.sass */
.bg_testing {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.9, 0.9);
  -webkit-filter: blur(4px);
  background: white;
}

/* line 293, ../../source/sass/lounges.sass */
section.left_menu {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 48px;
  height: 100%;
  z-index: 200;
}
/* line 301, ../../source/sass/lounges.sass */
section.left_menu img {
  margin-bottom: 64px;
}
/* line 303, ../../source/sass/lounges.sass */
section.left_menu h4 {
  margin-bottom: 8px;
}
/* line 305, ../../source/sass/lounges.sass */
section.left_menu p:first-of-type {
  margin-bottom: 48px;
}
/* line 307, ../../source/sass/lounges.sass */
section.left_menu h5 {
  margin-bottom: 4px;
}
/* line 309, ../../source/sass/lounges.sass */
section.left_menu p {
  margin-bottom: 24px;
}
/* line 311, ../../source/sass/lounges.sass */
section.left_menu a {
  color: #ECB72E;
}
/* line 314, ../../source/sass/lounges.sass */
section.left_menu footer {
  margin-top: 64px;
  line-height: 24px;
  text-align: left;
}
/* line 318, ../../source/sass/lounges.sass */
section.left_menu footer p {
  float: right;
  margin-bottom: 40px;
}
/* line 321, ../../source/sass/lounges.sass */
section.left_menu footer p:first-of-type {
  float: left;
  margin-bottom: 40px;
}
/* line 324, ../../source/sass/lounges.sass */
section.left_menu footer img {
  margin-bottom: -8px;
  margin-left: 4px;
}

/* line 329, ../../source/sass/lounges.sass */
section.right_menu {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  padding: 48px;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 0 0 256px 64px rgba(0, 0, 0, 0.25);
  z-index: 200;
}
/* line 339, ../../source/sass/lounges.sass */
section.right_menu img {
  height: 16px;
  margin-bottom: 64px;
}
/* line 343, ../../source/sass/lounges.sass */
section.right_menu h3 {
  margin-bottom: 8px;
}
/* line 345, ../../source/sass/lounges.sass */
section.right_menu p {
  margin-bottom: 48px;
}
/* line 347, ../../source/sass/lounges.sass */
section.right_menu button {
  margin-top: 16px;
  display: inline-block;
  width: 160px;
  margin-right: 16px;
}
/* line 352, ../../source/sass/lounges.sass */
section.right_menu a {
  display: inline-block;
}

/* line 356, ../../source/sass/lounges.sass */
#liberty_block2 {
  padding: 48px;
  height: 320px;
  background: black;
  -webkit-column-count: 2;
  -webkit-column-gap: 48px;
}
/* line 362, ../../source/sass/lounges.sass */
#liberty_block2 h3 {
  line-height: 1.6;
}
/* line 364, ../../source/sass/lounges.sass */
#liberty_block2 p {
  line-height: 1.6;
}
