/* line 10, ../../source/sass/lounges.sass */
* {
  box-sizing: border-box;
}

/* line 13, ../../source/sass/lounges.sass */
body {
  background: #13151A;
  max-width: 100%;
  color: white;
}

/* line 18, ../../source/sass/lounges.sass */
main {
  padding: 48px;
}

/* line 21, ../../source/sass/lounges.sass */
nav {
  float: right;
}

/* line 24, ../../source/sass/lounges.sass */
h1 {
  font-size: 60px;
  line-height: 64px;
}

/* line 28, ../../source/sass/lounges.sass */
h2 {
  font-size: 48px;
}

/* line 31, ../../source/sass/lounges.sass */
h3 {
  font-size: 18px;
  line-height: 24px;
}

/* line 35, ../../source/sass/lounges.sass */
h4 {
  font-size: 24px;
  line-height: 32px;
}

/* line 39, ../../source/sass/lounges.sass */
small {
  font-size: 12px;
}

/* line 42, ../../source/sass/lounges.sass */
p {
  font-size: 14px;
}

/* line 45, ../../source/sass/lounges.sass */
input {
  position: relative;
  height: 48px;
  width: 256px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
  border: 0;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

/* line 57, ../../source/sass/lounges.sass */
button {
  position: relative;
  height: 48px;
  width: 256px;
  background: #EBB22F;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
}

/* line 67, ../../source/sass/lounges.sass */
button:after {
  content: "";
  width: 24px;
  height: 24px;
  float: right;
  background-image: url(../images/goto.svg);
}

/* line 89, ../../source/sass/lounges.sass */
main h1 {
  width: 75%;
  margin: 96px 0 32px 0;
}

/* line 93, ../../source/sass/lounges.sass */
main h3 {
  width: 30%;
  margin-bottom: 32px;
}

/* line 97, ../../source/sass/lounges.sass */
main button {
  margin-bottom: 64px;
}

/* line 100, ../../source/sass/lounges.sass */
figure:first-child {
  float: left;
  margin: 0;
}

/* line 104, ../../source/sass/lounges.sass */
figure {
  display: inline-block;
  float: right;
  margin-left: 16px;
  height: 16px;
}

/* line 110, ../../source/sass/lounges.sass */
figcapation {
  font-size: 18px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 114, ../../source/sass/lounges.sass */
figure img {
  margin-right: 8px;
}

/* line 117, ../../source/sass/lounges.sass */
section.instruments {
  width: 100%;
  height: 16px;
  margin: 32px 0 16px 0;
}

/* line 121, ../../source/sass/lounges.sass */
hr {
  margin-bottom: 32px;
  width: 100%;
  height: 1px;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* line 128, ../../source/sass/lounges.sass */
section.lounges {
  text-align: justify;
}

/* line 133, ../../source/sass/lounges.sass */
article.lounge {
  display: inline-block;
  position: relative;
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 141, ../../source/sass/lounges.sass */
article.lounge .frontside {
  position: relative;
  color: black;
  text-align: center;
  background: url(../images/venzel-corner.svg) left 16px top 16px no-repeat, url(../images/venzel-corner.svg) right 16px top 16px no-repeat, url(../images/venzel-corner.svg) left 16px bottom 16px no-repeat, url(../images/venzel-corner.svg) right 16px bottom 16px no-repeat, linear-gradient(#ffffff, #e0e8ee);
  padding: 40px;
  z-index: 50;
}
/* line 149, ../../source/sass/lounges.sass */
article.lounge .frontside:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: inset rgba(122, 195, 108, 0.5) 0 0 0 2px;
  border-radius: 4px;
}
/* line 160, ../../source/sass/lounges.sass */
article.lounge .frontside:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  box-shadow: inset rgba(122, 195, 108, 0.25) 0 0 0 1px;
  border-radius: 2px;
}
/* line 171, ../../source/sass/lounges.sass */
article.lounge .frontside img {
  margin-bottom: 48px;
}
/* line 174, ../../source/sass/lounges.sass */
article.lounge .frontside h4 {
  margin-bottom: 8px;
}
/* line 177, ../../source/sass/lounges.sass */
article.lounge .backside {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  z-index: 20;
}

/* line 187, ../../source/sass/lounges.sass */
.frontside, .backside {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 191, ../../source/sass/lounges.sass */
section.login {
  position: absolute;
  top: 20%;
  right: -120%;
  width: 88%;
  padding: 80px;
  background: linear-gradient(to right top, #17191f, #272b33);
  z-index: 100;
}
/* line 200, ../../source/sass/lounges.sass */
section.login h2 {
  color: #EBB22F;
  margin-bottom: 16px;
}
/* line 204, ../../source/sass/lounges.sass */
section.login h3 {
  width: 50%;
  margin-bottom: 32px;
}
/* line 208, ../../source/sass/lounges.sass */
section.login input {
  margin-bottom: 40px;
  margin-right: 16px;
}

/* line 212, ../../source/sass/lounges.sass */
section.login:after {
  content: "";
  position: absolute;
  top: calc(50% - 160px);
  left: -160px;
  width: 320px;
  height: 320px;
  background-image: url(../images/key.svg);
}

/* line 221, ../../source/sass/lounges.sass */
section.login:before {
  content: "";
  position: absolute;
  top: 16;
  left: 16;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
}

/* line 230, ../../source/sass/lounges.sass */
.background-color-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(75% 100% at center top, #ffffff, #000000), #282C34;
  z-index: 50;
  opacity: 0.75;
  background-blend-mode: soft-light;
}

/* line 241, ../../source/sass/lounges.sass */
body {
  perspective: 1000px;
}

/* line 244, ../../source/sass/lounges.sass */
.scale-element {
  width: 100%;
  height: 100%;
  transform: scale(0.95, 0.91);
  -webkit-transform: scale(0.95, 0.91);
  filter: blur(16px);
  -webkit-filter: blur(16px);
  overflow: hidden;
}
