/* line 5, ../../source/sass/menu.sass */
#region-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), #282C34;
  background-size: 100%;
  background-image: -moz-radial-gradient(center top, 75% 100%, #ffffff, #000000), #282C34;
  background-image: -webkit-radial-gradient(center top, 75% 100%, #ffffff, #000000), #282C34;
  background-image: radial-gradient(75% 100% at center top, #ffffff, #000000), #282C34;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 17, ../../source/sass/menu.sass */
.scale {
  -moz-transform: scale(0.95, 0.91);
  -ms-transform: scale(0.95, 0.91);
  -webkit-transform: scale(0.95, 0.91);
  transform: scale(0.95, 0.91);
}

/* line 20, ../../source/sass/menu.sass */
#region-menu:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-blend-mode: soft-light;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), #282C34;
  background-size: 100%;
  background-image: -moz-radial-gradient(center top, 75% 100%, #ffffff, #000000), #282C34;
  background-image: -webkit-radial-gradient(center top, 75% 100%, #ffffff, #000000), #282C34;
  background-image: radial-gradient(75% 100% at center top, #ffffff, #000000), #282C34;
}

/* line 31, ../../source/sass/menu.sass */
section.left_menu {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 48px;
  height: 100%;
  z-index: 200;
  left: -40%;
}
/* line 40, ../../source/sass/menu.sass */
section.left_menu img {
  margin-bottom: 64px;
}
/* line 42, ../../source/sass/menu.sass */
section.left_menu h4 {
  margin-bottom: 8px;
}
/* line 44, ../../source/sass/menu.sass */
section.left_menu p:first-of-type {
  margin-bottom: 48px;
}
/* line 46, ../../source/sass/menu.sass */
section.left_menu h5 {
  margin-bottom: 4px;
}
/* line 48, ../../source/sass/menu.sass */
section.left_menu p {
  margin-bottom: 24px;
}
/* line 50, ../../source/sass/menu.sass */
section.left_menu a {
  color: #ECB72E;
}
/* line 53, ../../source/sass/menu.sass */
section.left_menu footer {
  margin-top: 64px;
  line-height: 24px;
  text-align: left;
}
/* line 57, ../../source/sass/menu.sass */
section.left_menu footer p {
  float: right;
  margin-bottom: 40px;
}
/* line 60, ../../source/sass/menu.sass */
section.left_menu footer p:first-of-type {
  float: left;
  margin-bottom: 40px;
}
/* line 63, ../../source/sass/menu.sass */
section.left_menu footer img {
  margin-bottom: -8px;
  margin-left: 4px;
}

/* line 68, ../../source/sass/menu.sass */
section.right_menu {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  padding: 48px;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 0 0 256px 64px rgba(0, 0, 0, 0.25);
  z-index: 200;
  right: -40%;
}
/* line 79, ../../source/sass/menu.sass */
section.right_menu img {
  height: 16px;
  margin-bottom: 64px;
}
/* line 83, ../../source/sass/menu.sass */
section.right_menu h3 {
  margin-bottom: 8px;
}
/* line 85, ../../source/sass/menu.sass */
section.right_menu p {
  margin-bottom: 48px;
}
/* line 87, ../../source/sass/menu.sass */
section.right_menu button {
  margin-top: 16px;
  display: inline-block;
  width: 160px;
  margin-right: 16px;
}
/* line 92, ../../source/sass/menu.sass */
section.right_menu a {
  display: inline-block;
}
