@charset "UTF-8";
/* line 5, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* COLORS */
/* ╨б╨▓╨╛╤П ╨▒╨╕╨▒╨╗╨╕╨╛╤В╨╡╨║╨░ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ */
/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л (╤Б╨╡╨╗╨╡╨║╤В╨╛╤А , ╤Б╨╡╨║╤Г╨╜╨┤╤Л (4sec) ) */
@-webkit-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End spin classes */
/* Start fadeout function */
@-webkit-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* End fadeout function */
/* Start fadein function */
@-webkit-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End fadein function */
/* line 21, ../../source/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 24, ../../source/sass/style.sass */
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #000;
}

/* line 30, ../../source/sass/style.sass */
header {
  height: 40px;
}
/* line 33, ../../source/sass/style.sass */
header img {
  float: left;
}
/* line 35, ../../source/sass/style.sass */
header nav {
  line-height: 44px;
  float: right;
}
/* line 38, ../../source/sass/style.sass */
header nav a {
  font-size: 18px;
  margin-left: 16px;
  font-family: Bebas Neue;
  font-weight: 300;
}
/* line 44, ../../source/sass/style.sass */
header nav img {
  margin-left: 16px;
  float: right;
  width: 30px;
}
/* line 49, ../../source/sass/style.sass */
header a {
  color: #fff;
}

/* line 52, ../../source/sass/style.sass */
a {
  color: #ECB72E;
  text-decoration: none;
  letter-spacing: 2px;
}

/* line 57, ../../source/sass/style.sass */
a:hover {
  cursor: pointer;
}

/* line 60, ../../source/sass/style.sass */
main {
  padding: 60px 40px;
}

/* line 63, ../../source/sass/style.sass */
#loader {
  position: absolute;
  overflow: hidden;
  width: 164px;
  height: 159px;
  left: 45%;
  top: 40%;
}
/* line 71, ../../source/sass/style.sass */
#loader img {
  position: inherit;
}

/* line 74, ../../source/sass/style.sass */
.loader-logo-back {
  width: 100%;
  height: 100%;
}

/* line 78, ../../source/sass/style.sass */
.loader-logo-front {
  left: 35;
  top: 35;
}

/* line 82, ../../source/sass/style.sass */
.gradient {
  background-blend-mode: soft-light;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), #0C0C0C;
  background: -moz-radial-gradient(center top, 100% 25%, #ffffff, #000000), #0C0C0C;
  background: -webkit-radial-gradient(center top, 100% 25%, #ffffff, #000000), #0C0C0C;
  background: radial-gradient(100% 25% at center top, #ffffff, #000000), #0C0C0C;
}

/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╨╗╤Г╤З╨╕ ╨╗╨╛╨│╨╛╤В╨╕╨┐╨░ */
/* line 17, ../../source/sass/anim.sass */
.loader-logo-back {
  -moz-animation: spin_animation 4s linear infinite;
  -webkit-animation: spin_animation 4s linear infinite;
  animation: spin_animation 4s linear infinite;
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╤А╨╛╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╨║╨╗╨░╤Б╤Б */
/* line 27, ../../source/sass/anim.sass */
.fadeout {
  -moz-animation: fadeout_animation 3s ease-in-out forwards;
  -webkit-animation: fadeout_animation 3s ease-in-out forwards;
  animation: fadeout_animation 3s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╨╛╤П╨▓╨╗╤П╤О╤Й╨╕╨╣╤Б╤П ╨║╨╗╨░╤Б╤Б */
/* line 40, ../../source/sass/anim.sass */
.fadein {
  -moz-animation: fadein_animation 2s ease-in-out forwards;
  -webkit-animation: fadein_animation 2s ease-in-out forwards;
  animation: fadein_animation 2s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨Я╨╛╤П╨▓╨╗╨╡╨╜╨╕╤П ╨╗╨╛╨░╨┤╨╡╤А╨░ */
/* line 40, ../../source/sass/anim.sass */
.fadein-loader {
  -moz-animation: fadein_animation 1s ease-in-out forwards;
  -webkit-animation: fadein_animation 1s ease-in-out forwards;
  animation: fadein_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* FLOAT */
/* line 99, ../../source/sass/style.sass */
.content-left {
  text-align: left;
}

/* line 101, ../../source/sass/style.sass */
.block-left {
  float: left;
}

/* line 103, ../../source/sass/style.sass */
.block-right {
  float: right;
}

/* line 106, ../../source/sass/style.sass */
.orange-text {
  color: #ECB72E;
}

/* line 109, ../../source/sass/style.sass */
.gray-text {
  color: #282C34;
}

/* line 112, ../../source/sass/style.sass */
.gray-text-light {
  color: #b3b0a1;
}

/* SIZE */
/* line 115, ../../source/sass/style.sass */
.h100 {
  height: 100%;
}

/* line 118, ../../source/sass/style.sass */
.w95p {
  width: 95%;
}

/* line 120, ../../source/sass/style.sass */
.w5p {
  width: 5%;
}

/* PADDING */
/* line 124, ../../source/sass/style.sass */
.padding-left20px {
  padding-left: 20px;
}

/* line 127, ../../source/sass/style.sass */
.padding-top80px {
  padding-top: 80px;
}

/* MARGION */
/* line 131, ../../source/sass/style.sass */
.margin-left20px {
  margin-left: 20px;
}

/* TEXT */
/* line 135, ../../source/sass/style.sass */
.text-upper {
  text-transform: uppercase;
}

/* line 137, ../../source/sass/style.sass */
.text-strong-title {
  font-size: 18pt;
  font-family: "Lora";
}

/* BUTTONS */
/* line 143, ../../source/sass/style.sass */
.button-simple {
  width: auto;
  text-align: center;
}

/* line 147, ../../source/sass/style.sass */
.button-simple:after, .button-dark:after {
  background-image: none;
  width: 0;
}

/* line 151, ../../source/sass/style.sass */
.opacity05 {
  opacity: 0.5;
}

/* FOR PAGES */
/* line 156, ../../source/sass/style.sass */
.dark-with-light {
  background: #171819 url(/src/images/bg_light.png);
  background-size: cover;
}

/* line 160, ../../source/sass/style.sass */
.about-desc {
  background-color: #282C34;
  padding: 65px;
}

/* line 164, ../../source/sass/style.sass */
.page-index-content {
  text-align: center;
  padding-bottom: 80px;
}
/* line 167, ../../source/sass/style.sass */
.page-index-content h1 {
  margin: 30px 0px;
}
/* line 169, ../../source/sass/style.sass */
.page-index-content img {
  width: 100%;
}

/* line 173, ../../source/sass/style.sass */
#region-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 183, ../../source/sass/style.sass */
.scale {
  -moz-transform: scale(0.95, 0.91);
  -ms-transform: scale(0.95, 0.91);
  -webkit-transform: scale(0.95, 0.91);
  transform: scale(0.95, 0.91);
}

/* line 186, ../../source/sass/style.sass */
#region-menu:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-blend-mode: soft-light;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), #0C0C0C;
  background: -moz-radial-gradient(center top, 100% 25%, #ffffff, #000000), #0C0C0C;
  background: -webkit-radial-gradient(center top, 100% 25%, #ffffff, #000000), #0C0C0C;
  background: radial-gradient(100% 25% at center top, #ffffff, #000000), #0C0C0C;
}

/* line 198, ../../source/sass/style.sass */
section.left_menu {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 48px;
  height: 100%;
  z-index: 200;
  left: -40%;
}
/* line 207, ../../source/sass/style.sass */
section.left_menu img {
  margin-bottom: 64px;
}
/* line 209, ../../source/sass/style.sass */
section.left_menu h4 {
  margin-bottom: 8px;
}
/* line 211, ../../source/sass/style.sass */
section.left_menu p:first-of-type {
  margin-bottom: 48px;
}
/* line 213, ../../source/sass/style.sass */
section.left_menu h5 {
  margin-bottom: 4px;
}
/* line 215, ../../source/sass/style.sass */
section.left_menu p {
  margin-bottom: 24px;
}
/* line 217, ../../source/sass/style.sass */
section.left_menu a {
  color: #ECB72E;
}
/* line 220, ../../source/sass/style.sass */
section.left_menu footer {
  margin-top: 64px;
  line-height: 24px;
  text-align: left;
}
/* line 224, ../../source/sass/style.sass */
section.left_menu footer p {
  float: right;
  margin-bottom: 40px;
}
/* line 227, ../../source/sass/style.sass */
section.left_menu footer p:first-of-type {
  float: left;
  margin-bottom: 40px;
}
/* line 230, ../../source/sass/style.sass */
section.left_menu footer img {
  margin-bottom: -8px;
  margin-left: 4px;
}

/* line 235, ../../source/sass/style.sass */
section.right_menu {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  padding: 48px;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 0 0 256px 64px rgba(0, 0, 0, 0.25);
  z-index: 200;
  right: -40%;
}
/* line 247, ../../source/sass/style.sass */
section.right_menu img {
  height: 16px;
  margin-bottom: 64px;
}
/* line 251, ../../source/sass/style.sass */
section.right_menu h3 {
  margin-bottom: 8px;
}
/* line 253, ../../source/sass/style.sass */
section.right_menu p {
  margin-bottom: 48px;
}
/* line 255, ../../source/sass/style.sass */
section.right_menu button {
  margin-top: 16px;
  display: inline-block;
  width: 160px;
  margin-right: 16px;
}
/* line 260, ../../source/sass/style.sass */
section.right_menu a {
  display: inline-block;
}

/* line 263, ../../source/sass/style.sass */
.js-closing-menu:hover {
  cursor: pointer;
}

/* line 267, ../../source/sass/style.sass */
.autn-section {
  position: absolute;
  top: 20%;
  right: -120%;
  width: 88%;
  padding: 80px;
  background: linear-gradient(to right top, #17191f, #272b33);
  z-index: 100;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 277, ../../source/sass/style.sass */
.autn-section h2 {
  color: #ECB72E;
  margin-bottom: 16px;
}

/* line 281, ../../source/sass/style.sass */
.autn-section h3 {
  width: 50%;
  margin-bottom: 32px;
}

/* line 285, ../../source/sass/style.sass */
.autn-section input {
  margin-bottom: 40px;
  margin-right: 16px;
}

/* line 289, ../../source/sass/style.sass */
.autn-section:after {
  content: "";
  position: absolute;
  top: calc(50% - 160px);
  left: -160px;
  width: 320px;
  height: 320px;
  background-image: url(../images/key.svg);
}

/* line 298, ../../source/sass/style.sass */
.autn-section:before {
  content: "";
  position: absolute;
  top: 16;
  left: 16;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
  z-index: -1;
}
