@charset "UTF-8";
/* line 5, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ╨ж╨▓╨╡╤В╨░ ╨┤╨╕╨╖╨░╨╣╨╜╨░ */
/* COLORS */
/* ╨б╨▓╨╛╤П ╨▒╨╕╨▒╨╗╨╕╨╛╤В╨╡╨║╨░ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ */
/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л (╤Б╨╡╨╗╨╡╨║╤В╨╛╤А , ╤Б╨╡╨║╤Г╨╜╨┤╤Л (4sec) ) */
@-webkit-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End spin classes */
/* Start fadeout function */
@-webkit-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
/* End fadeout function */
/* Start fadein function */
@-webkit-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
/* End fadein function */
/* ╨Ф╨╡╤Д╨╛╨╗╤В╨╜╤Л╨╡ ╨╛╤В╤Б╤В╤Г╨┐╤Л */
/* ╨Ю╤В╤Б╤В╤Г╨┐ ╨┐╨╛ ╨║╤А╨░╤П╨╝ */
/* line 18, ../../source/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 21, ../../source/sass/style.sass */
body {
  max-width: 100%;
  overflow-x: hidden;
  background: #282C34;
}

/* line 27, ../../source/sass/style.sass */
#region-header {
  position: absolute;
  width: 100%;
  z-index: 90;
}

/* line 32, ../../source/sass/style.sass */
header {
  height: 40px;
  padding: 60px 40px 60px;
}
/* line 36, ../../source/sass/style.sass */
header img {
  float: left;
}
/* line 38, ../../source/sass/style.sass */
header nav {
  line-height: 44px;
  float: right;
}
/* line 41, ../../source/sass/style.sass */
header nav a {
  font-size: 18px;
  margin-left: 16px;
  font-family: Bebas Neue;
  font-weight: 300;
}
/* line 47, ../../source/sass/style.sass */
header nav img {
  margin-left: 16px;
  float: right;
  width: 30px;
}
/* line 52, ../../source/sass/style.sass */
header a {
  color: #fff;
}

/* line 55, ../../source/sass/style.sass */
a {
  color: #ECB72E;
  text-decoration: none;
  letter-spacing: 2px;
}

/* line 60, ../../source/sass/style.sass */
a:hover {
  cursor: pointer;
}

/* line 66, ../../source/sass/style.sass */
.novisible {
  visibility: hidden;
}

/* line 69, ../../source/sass/style.sass */
#loader {
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 300px;
  left: 38%;
  top: 250px;
  opacity: 0;
}
/* line 78, ../../source/sass/style.sass */
#loader object {
  position: inherit;
}

/* line 81, ../../source/sass/style.sass */
.loader-logo-back {
  width: 100%;
  height: 100%;
}

/* line 85, ../../source/sass/style.sass */
.loader-logo-front {
  left: 25%;
  top: 25%;
  width: 50%;
}

/* line 90, ../../source/sass/style.sass */
.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s ease-in alternate 1 forwards;
  transition: dash 0.3s ease-out;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
/* line 104, ../../source/sass/style.sass */
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: pa 3s ease-in normal 1 forwards;
}

@keyframes pa {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╨╗╤Г╤З╨╕ ╨╗╨╛╨│╨╛╤В╨╕╨┐╨░ */
/* line 17, ../../source/sass/anim.sass */
.loader-logo-back {
  -moz-animation: spin_animation 4s linear infinite;
  -webkit-animation: spin_animation 4s linear infinite;
  animation: spin_animation 4s linear infinite;
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╤А╨╛╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╨║╨╗╨░╤Б╤Б */
/* line 27, ../../source/sass/anim.sass */
.fadeout {
  -moz-animation: fadeout_animation 2s ease-in-out forwards;
  -webkit-animation: fadeout_animation 2s ease-in-out forwards;
  animation: fadeout_animation 2s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╨╛╤П╨▓╨╗╤П╤О╤Й╨╕╨╣╤Б╤П ╨║╨╗╨░╤Б╤Б */
/* line 41, ../../source/sass/anim.sass */
.fadein {
  -moz-animation: fadein_animation 2s ease-in-out forwards;
  -webkit-animation: fadein_animation 2s ease-in-out forwards;
  animation: fadein_animation 2s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨Я╨╛╤П╨▓╨╗╨╡╨╜╨╕╤П ╨╗╨╛╨░╨┤╨╡╤А╨░ */
/* line 41, ../../source/sass/anim.sass */
.fadein-loader {
  -moz-animation: fadein_animation 1s ease-in-out forwards;
  -webkit-animation: fadein_animation 1s ease-in-out forwards;
  animation: fadein_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* FLOAT */
/* line 138, ../../source/sass/style.sass */
.content-left {
  text-align: left;
}

/* line 140, ../../source/sass/style.sass */
.block-left {
  float: left;
}

/* line 142, ../../source/sass/style.sass */
.block-right {
  float: right;
}

/* line 145, ../../source/sass/style.sass */
.orange-text {
  color: #ECB72E;
}

/* line 148, ../../source/sass/style.sass */
.gray-text {
  color: #282C34;
}

/* line 151, ../../source/sass/style.sass */
.gray-text-light {
  color: #b3b0a1;
}

/* SIZE */
/* line 154, ../../source/sass/style.sass */
.h100 {
  height: 100%;
}

/* line 157, ../../source/sass/style.sass */
.w95p {
  width: 95%;
}

/* line 159, ../../source/sass/style.sass */
.w5p {
  width: 5%;
}

/* PADDING */
/* line 163, ../../source/sass/style.sass */
.padding-left20px {
  padding-left: 20px;
}

/* line 166, ../../source/sass/style.sass */
.padding-top80px {
  padding-top: 80px;
}

/* MARGION */
/* line 170, ../../source/sass/style.sass */
.margin-left20px {
  margin-left: 20px;
}

/* TEXT */
/* line 174, ../../source/sass/style.sass */
.text-upper {
  text-transform: uppercase;
}

/* line 176, ../../source/sass/style.sass */
.text-strong-title {
  font-size: 18pt;
  font-family: "Lora";
}

/* BUTTONS */
/* line 182, ../../source/sass/style.sass */
.button-simple {
  width: auto;
  text-align: center;
}

/* line 186, ../../source/sass/style.sass */
.button-simple:after, .button-dark:after {
  background-image: none;
  width: 0;
}

/* line 190, ../../source/sass/style.sass */
.button-flat {
  border: none;
  color: #fff;
}

/* line 194, ../../source/sass/style.sass */
.opacity05 {
  opacity: 0.5;
}

/* FOR PAGES */
/* line 199, ../../source/sass/style.sass */
.dark-with-light {
  background: #171819 url(/src/images/bg_light.png);
  background-size: cover;
}

/* line 203, ../../source/sass/style.sass */
.about-desc {
  background-color: #282C34;
  padding: 65px;
}

/* line 207, ../../source/sass/style.sass */
.page-index-content {
  padding: 0 40px 0;
  padding-bottom: 160px;
  padding-top: 50px;
}
/* line 212, ../../source/sass/style.sass */
.page-index-content img {
  width: 100%;
}
/* line 215, ../../source/sass/style.sass */
.page-index-content h3 {
  margin-bottom: 60px;
}

/* line 219, ../../source/sass/style.sass */
#region-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 229, ../../source/sass/style.sass */
.scale {
  -moz-transform: scale(0.95, 0.91);
  -ms-transform: scale(0.95, 0.91);
  -webkit-transform: scale(0.95, 0.91);
  transform: scale(0.95, 0.91);
}

/* line 232, ../../source/sass/style.sass */
#region-menu:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  background-color: #000;
}

/* line 245, ../../source/sass/style.sass */
section.left_menu {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 48px;
  height: 100%;
  z-index: 200;
  left: -40%;
}
/* line 254, ../../source/sass/style.sass */
section.left_menu img {
  margin-bottom: 64px;
}
/* line 256, ../../source/sass/style.sass */
section.left_menu h4 {
  margin-bottom: 8px;
}
/* line 258, ../../source/sass/style.sass */
section.left_menu p:first-of-type {
  margin-bottom: 48px;
}
/* line 260, ../../source/sass/style.sass */
section.left_menu h5 {
  margin-bottom: 4px;
}
/* line 262, ../../source/sass/style.sass */
section.left_menu p {
  margin-bottom: 24px;
}
/* line 264, ../../source/sass/style.sass */
section.left_menu a {
  color: #ECB72E;
}
/* line 267, ../../source/sass/style.sass */
section.left_menu footer {
  margin-top: 64px;
  line-height: 24px;
  text-align: left;
}
/* line 271, ../../source/sass/style.sass */
section.left_menu footer p {
  float: right;
  margin-bottom: 40px;
}
/* line 274, ../../source/sass/style.sass */
section.left_menu footer p:first-of-type {
  float: left;
  margin-bottom: 40px;
}
/* line 277, ../../source/sass/style.sass */
section.left_menu footer img {
  margin-bottom: -8px;
  margin-left: 4px;
}

/* line 282, ../../source/sass/style.sass */
section.right_menu {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  padding: 48px;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 0 0 256px 64px rgba(0, 0, 0, 0.25);
  z-index: 200;
  right: -40%;
}
/* line 294, ../../source/sass/style.sass */
section.right_menu img {
  height: 16px;
  margin-bottom: 64px;
}
/* line 298, ../../source/sass/style.sass */
section.right_menu h3 {
  margin-bottom: 8px;
}
/* line 300, ../../source/sass/style.sass */
section.right_menu p {
  margin-bottom: 48px;
}
/* line 302, ../../source/sass/style.sass */
section.right_menu button {
  margin-top: 16px;
  display: inline-block;
  width: 160px;
  margin-right: 16px;
}
/* line 307, ../../source/sass/style.sass */
section.right_menu a {
  display: inline-block;
}

/* line 310, ../../source/sass/style.sass */
.js-closing-menu:hover {
  cursor: pointer;
}

/* line 314, ../../source/sass/style.sass */
.autn-section {
  position: absolute;
  top: 200;
  right: -120%;
  width: 88%;
  padding: 80px;
  background: linear-gradient(to right top, #17191f, #272b33);
  z-index: 100;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 324, ../../source/sass/style.sass */
.autn-section h2 {
  color: #ECB72E;
  margin-bottom: 16px;
}

/* line 328, ../../source/sass/style.sass */
.autn-section h3 {
  width: 50%;
  margin-bottom: 32px;
}

/* line 332, ../../source/sass/style.sass */
.autn-section input {
  margin-bottom: 40px;
  margin-right: 16px;
}

/* line 336, ../../source/sass/style.sass */
.autn-section:after {
  content: "";
  position: absolute;
  top: calc(50% - 160px);
  left: -160px;
  width: 320px;
  height: 320px;
  background-image: url(../images/key.svg);
}

/* line 345, ../../source/sass/style.sass */
.autn-section:before {
  content: "";
  position: absolute;
  top: 16;
  left: 16;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
  z-index: -1;
}
