.autn-section.registr-side
	%h2 Регистрация
	%h3
		Регистрация нового пользователя. Если у вас	уже есть аккаунт -
		%a.js-login-from-registrate{ :href => '#' } войдите
	%form{:action => "", :method => "get", :id => "register_form" }
		%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
		%input{:type => "text", :name => "name", :placeholder => "ФИО"}
		%input{:type => "text", :name => "password", :placeholder => "Пароль"}
		%button{:type=>"sumbit", :name=>"sumbit"} Зарегестрироваться

.autn-section.login-side
	%h2 Войти
	%h3
		Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
		%a.js-registrate-from-login{ :href => '#' } зарегистрируйтесь
	%form{:action => "", :method => "get", :id => "login_form" }
		%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
		%input{:type => "text", :name => "password", :placeholder => "Пароль"}
		%button{:type=>"sumbit", :name=>"sumbit"} Войти
	-#%a Вы забыли пароль?
