<section class='achievments_all'>
  <header class='achievments_header'>
    <h6>Достижения</h6>
  </header>
  <section class='achievments_list'>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <figure class='achievment'>
      <img alt='В альт отправляем название достижения' src='./src/images/achievments/1.svg'>
      <figcapation>
        <h4>Летняя ночь</h4>
        <p>21.09.15</p>
      </figcapation>
    </figure>
    <div class='justify_fix'></div>
  </section>
</section>
