<div class='autn-section'>
  <h2>Войти</h2>
  <h3>
    Вход на сайт для зарегистрированных пользователей, если у вас еще нет аккаунта —
    <a data-am-view='reg' data-component='am'>зарегистрируйтесь</a>
  </h3>
  <form action='' id='form-login' method='get'>
    <input name='phone' placeholder='Номер телефона' rv-value='model:phone' type='text'>
    <input name='password' placeholder='Пароль' rv-value='model:password' type='text'>
    <button name='sumbit' type='sumbit'>Войти</button>
  </form>
  <a data-am-view='forgotpassword' data-component='am'>Вы забыли пароль?</a>
</div>
