<div class='autn-section'>
  <header>
    <h2>Регистрация</h2>
    <p>
      Регистрация нового пользователя. Если у вас	уже есть аккаунт -
      <a class='reg_new_user' data-am-view='login' data-component='am'>войдите.</a>
    </p>
  </header>
  <form action='' id='form-reg' method='get'>
    <input name='phone' placeholder='Номер телефона' type='text'>
    <input name='name' placeholder='ФИО' type='text'>
    <input name='password' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Зарегистрироваться</button>
  </form>
</div>
