<div class='autn-section'>
  <h2>Регистрация</h2>
  <h3>
    Регистрация нового пользователя. Если у вас	уже есть аккаунт -
    <a data-am-view='login' data-component='am'>войдите</a>
  </h3>
  <form action='' id='form-reg' method='get'>
    <input name='phone' placeholder='Номер телефона' type='text'>
    <input name='name' placeholder='ФИО' type='text'>
    <input name='password' placeholder='Пароль' type='text'>
    <button name='sumbit' type='sumbit'>Зарегестрироваться</button>
  </form>
</div>
