
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }

		%title Уникальные кальянные
		%link{ :rel=>"stylesheet" , :href=>"src/css/ukpace.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/style.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/lounges.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/flexboxgrid/css/flexboxgrid.min.css" }
	%body
		#loader.row.fadein-loader
			%img.loader-logo-back{ :src => "src/images/back_loader_logo.svg" }
			%img.loader-logo-front{ :src => "src/images/front_loader_logo.svg" }
		
		%main
			%header#region-header.fadeout
				
			#region-content.fadeout

		%script(type="text/javascript" src="bower_components/requirejs/require.js")
		%script(type="text/javascript" src="src/js/app/config.js")
		%script(type="text/javascript" src="src/js/app/start.js")