
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }

		%link{ :rel=>"stylesheet" , :href=>"src/css/reset.css" }

		%title Уникальные кальянные
		%link{ :rel=>"stylesheet" , :href=>"src/css/fonts.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/ukpace.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/style.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/lounges.css" }

		%link{ :rel=>"stylesheet" , :href=>"src/css/slider.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/flexboxgrid/css/flexboxgrid.min.css" }	
		
	%body
		#loader			
			-#%embed.loader-logo-back{  :src => "src/images/back_loader_logo.svg" , :type =>"image/svg+xml" }
			-#%embed.loader-logo-front{ :src => "src/images/front_loader_logo.svg", :type =>"image/svg+xml" }

		%main#scale-body.gradient			
			#region-header
			#region-content

		#region-animated-modal
		#region-menu		

		%script(type="text/javascript" src="bower_components/requirejs/require.js")
		%script(type="text/javascript" src="src/js/app/config.js")
		%script(type="text/javascript" src="src/js/app/start.js")