
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }

		%link{ :rel=>"stylesheet" , :href=>"src/css/reset.css" }

		%title Уникальные кальянные
		-# Системные
		%link{ :rel=>"stylesheet" , :href=>"src/css/fonts.css" }
		
		-# Каша системная
		%link{ :rel=>"stylesheet" , :href=>"src/css/style.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/lounges.css" }

		-# Plugins level
		%link{ :rel=>"stylesheet" , :href=>"src/css/slider.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/ukpace.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/font-awesome/css/font-awesome.min.css" }	
		%link{ :rel=>"stylesheet" , :href=>"bower_components/flexboxgrid/css/flexboxgrid.min.css" }	

		-# Pages
		%link{ :rel=>"stylesheet" , :href=>"src/css/achievments.css" }
		
	%body
		#loader

		%main#scale-body.gradient			
			#region-header
			#region-content

		#region-menu

		%script(type="text/javascript" src="bower_components/requirejs/require.js")
		%script(type="text/javascript" src="src/js/app/config.js")
		%script(type="text/javascript" src="src/js/app/start.js")