%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }

		%title Index fale
		%link{ :rel=>"stylesheet" , :href=>"src/css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/ukpace.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/style.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/lounges.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/fonts.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/about.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/bootstrap-grid-only/css/grid12.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/font-awesome/css/font-awesome.min.css" }
	%body
		%main
			%section#profile_block1
				%div
					%img{ :src=>"./src/images/sun.svg" , :alt=>"Profile photo" , :height=> 100}

				%div
					%div					
						%hgroup
							%h1
								ВИТАЛИЙ ПИХОНТ
								%i.fa.fa-cog				
							
							%h5 Санкт-Петербург, Россия
					
					%div
						%h6 4525 очков для следующиего уровня
						%progress{ :value => 50 , :max => 100}
						700 5225

					%div
						%button Забронировать место
						%button Назначить встречу

					%div
						%p
							Достижения
							%span 3/25
							%a Посмотреть все

						%ul
							%li 1 Достижения
							%li 2 Достижения
							%li 3 Достижения
							%li 4 Достижения

					%div
						%p
							Навыйки
							%span 1 ОЧКО
							%a Посмотреть все

						%ul
							%li 1 Навыйки
							%li 2 Навыйки
							%li 3 Навыйки
							%li 4 Навыйки