%section#community_block1
	%img{ :src=>"./src/images/community_h1.svg" , :alt=>"Полезно быть своим"}
%section#community_block2
	%h2
		Самая лучшая сеть
		%br
		кальянных и только для вас
	%br
	%h3 Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости.
	%br
	%section.game_feature
		%img{ :src=>"./src/images/game_feature_1.svg" , :alt=>"Нетворкинг"}
		%h4 Общество равных
		%p Уже много лет мы собираем вокруг себя близких по духу людей и это значит, что в стенах Уникальных Кальянных наши гости всегда смогут найти собеседника достойного уровня, завязать полезные знакомства и найти нужные контакты.
	%section.game_feature
		%img{ :src=>"./src/images/game_feature_2.svg" , :alt=>"Система лояльности"}
		%h4 Программа лояльности
		%p Лояльность и доверие - для нас это не пустой звук, с древних времен эти понятия считались высшими ценностями в жизни. Записи о каждом вашем визите бережно хранятся в наших архивах и когда придёт срок, каждый будет вознаграждён.
	%section.game_feature
		%img{ :src=>"./src/images/game_feature_3.svg" , :alt=>"Неповторимый опыт"}
		%h4 Неповторимый опыт
		%p Каждое заведение Уникальных Кальянных предлагает вам атмосферу клуба единомышленников. Заходите, общайтесь с другими гостями, участвуйте в еженедельных мероприятиях и вы поймете в чем заключается наша уникальность.
%section#community_block3
	%h3 Со временем вы обретёте полезные навыки, дающие право на получение бесплатных услуг.
	%p Навыки разнообразны и позволяют получить целый спектр приятных преимуществ, начиная с дополнительных напитков при первом заказе за день и заканчивая возможностью отдыхать в заведении в нерабочие часы
	%br
	%img{ :src=>"./src/images/game_skillset.svg" , :alt=>"Полезные бонусы"}
	%video#dust{ :controls=>"false", :src=>"src/video/vid.mp4", :autobuffer=>"true", :autoplay=>"true", :loop=>"true"}
	#cb3grad
	#cb3grad2
	%video#dust#cb3smoke{ :controls=>"false", :src=>"src/video/vid2.mp4", :autobuffer=>"true", :autoplay=>"true", :loop=>"true"}
%section#community_block4
	%h2 Назначить встречу
	%br
	%p Наши заведения посещают люди с разными интересами, компетенциями и статусом. Если вы хотите познакомиться и пообщаться с кем-нибудь из них, вы можете пригласить их на встречу в Уникальных Кальянных.
%section#community_block5
	%canvas{:id=>"viewport"}
	.round
		%img{ :src=>"./src/images/messages.svg" , :alt=>"Коммуникация"}
	%br
	%h3 Общение — это важно
	%br
	%p Мы общаемся с окружающими нас людьми каждый день, но в жизни современного человека общение это нечто большее чем просто обмен информацией.
	%br
	%p Именно от общения зависит наше положение в обществе, наши цели и настроение, поэтому круг общения играет важную роль
	%br
	%p Войдите в сообщество Уникальных Кальянных и вы сможете общаться с лучшими людьми вашего города.
	%br
	%button Прочитать историю

%section#community_block6